extends layout

block content
  .left
    h1 Welcome to Roxfus.
    h2 The best stuff for the best of players.
    a(id="resultParagraphLink")
    h3(id="resultParagraphScore")
  .right
    textarea(name=name)= defaultText
    button(id="submitBtn") Send Request
  
  script(src="/javascripts/configTextboxManager.js")