extends layout

block content
  .left
    h1 Welcome to Roxfus.
    h2 The best stuff for the best of players.
    a(id="resultParagraphLink" target="_blank")
    h3(id="resultParagraphScore")
  .right
    div#editor(style="height: 80%; width: 100%;")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js")
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
      // Pass defaultText from Pug to JavaScript
      var defaultText = !{JSON.stringify(defaultText)};
      editor.setValue(defaultText);
    //textarea(name=name)= defaultText
    .button-container
      button(id="submitBtn") Send Request
      button(id="button2") Button 2
      button(id="button3") Button 3
      button(id="button4") Button 4
      
  div.info-box Will put the stats names here
    
  script(src="/javascripts/configTextboxManager.js")